body {
    background-color: #D8BFD8;
    font-family: 'Times New Roman', Times, serif;
}

       
h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

section li {
    list-style: none;
    color: #F5DEB3;
}
a:link,a:visited {
    text-decoration: none;
    color: white;
    border: 1px solid;
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 1px;
}

a:hover, a:active {
    background-color: white;
    color: grey;

}
